@inherits LayoutComponentBase
@using TheR7angelo.github.io.Resources.Resx.Definition
@using TheR7angelo.github.io.Resources.Resx.HomePage

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="1">

        <MudIconButton Icon="@Icons.Material.Filled.Menu"
                       Color="Color.Inherit"
                       Edge="Edge.Start"
                       OnClick="@ToggleNavigationDrawer">
        </MudIconButton>

        <MudText Typo="Typo.h6" Class="cx-2">TheR7angelo</MudText>

        <MudSpacer />

        <MudText Typo="Typo.h3" Class="cx-2" Color="Color.Inherit">@HomePageResources.NavBarTitle</MudText>

        <MudSpacer />

        <MudButton Href="https://github.com/TheR7angelo"
                   StartIcon="@(Icons.Custom.Brands.GitHub)"
                   Target="_blank"
                   Color="Color.Inherit"
                   Variant="Variant.Text">
            GitHub
        </MudButton>

        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>

    </MudAppBar>

    <MudDrawer Open="@_isNavigationDrawerOpen"
               Variant="DrawerVariant.Persistent"
               ClipMode="DrawerClipMode.Always"
               Elevation="1">

        <MudDrawerHeader Class="d-flex align-center justify-space-between">
            <MudText Typo="Typo.subtitle1" Class="font-weight-bold">@HomePageResources.MainLayoutDrawerTitle</MudText>
        </MudDrawerHeader>

        <MudNavMenu>
            @foreach (var anchor in Sections)
            {
                <MudNavLink OnClick="@(() => ScrollToSection(anchor.Id))" Icon="@anchor.Icon">
                    @anchor.Title
                </MudNavLink>
            }
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent Class="pt-16 pa-4">
        <MudContainer>

            <MudText Typo="Typo.h3" Color="Color.Primary" Class="font-weight-bold mb-2">
                @HomePageResources.MainLayoutTitle1

                <MudLink Href="https://dotnet.microsoft.com/en-us/download" Underline="Underline.Always" Target="_blank">@HomePageResources.MainLayoutTitle2</MudLink>

                &

                <MudTooltip Placement="Placement.Top" Arrow="true" Color="Color.Dark">

                    <ChildContent>
                        <span style="border-bottom: 1px dashed; cursor: help;">DBA</span>
                    </ChildContent>

                    <TooltipContent>
                        <MudText Typo="Typo.body2" Class="pa-1">
                            <strong>@DefinitionResources.DbaDefinitionHeader</strong> @DefinitionResources.DbaDefinitionContent
                        </MudText>
                    </TooltipContent>

                </MudTooltip>
            </MudText>

            <MudText Typo="Typo.h6" Style="color: var(--mud-palette-text-secondary);">
                @HomePageResources.MainLayoutSubTitle
            </MudText>

            @Body

        </MudContainer>
    </MudMainContent>

</MudLayout>
