@inherits LayoutComponentBase
@using TheR7angelo.github.io.Resources.Resx.HomePage

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6" Class="cx-2">TheR7angelo</MudText>

        <MudSpacer />

        <MudText Typo="Typo.h3" Class="cx-2" Color="Color.Inherit">@HomePageResources.NavBarTitle</MudText>

        <MudSpacer />

        <MudButton Href="https://github.com/TheR7angelo"
                   StartIcon="@(Icons.Custom.Brands.GitHub)"
                   Target="_blank"
                   Color="Color.Inherit"
                   Variant="Variant.Text">
            GitHub
        </MudButton>

        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>

    </MudAppBar>

    <MudMainContent Class="pt-16 pa-4">
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">

            <div class="d-flex flex-column align-center text-center mb-8">
                <MudText Typo="Typo.h3" Color="Color.Primary" Class="font-weight-bold mb-2">
                    @HomePageResources.MainLayoutTitle
                </MudText>
                <MudText Typo="Typo.h6" @_theme?.PaletteDark.TextSecondary>
                    @HomePageResources.MainLayoutSubTitle
                </MudText>
            </div>

            @Body

        </MudContainer>
    </MudMainContent>

</MudLayout>